$secondaryColour: rgb(226, 51, 153);

.ant-layout-content{
    background-color: black !important;
   
}

.ant-card{
    margin: 10px;
}

.in-live {
    color: white;
    background-color: $secondaryColour;
    border-radius: 10px;
    width: 100px !important;
    height: 20px;
    margin: 10px;
    display: flex;
    justify-content: center ;
    align-items: center ;
    padding-left: 25px;
    
    position: absolute;

    font-weight: bold;
    font-size: 12px;
    
   
}



#viewers {
    font-weight: bold;
    color: orange;

    &:hover {
        color: orange;
    }
}