#components-layout-demo-top-side-2 .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
  }
  
  .ant-row-rtl #components-layout-demo-top-side-2 .logo {
    float: right;
    margin: 16px 0 16px 24px;
  }

  #NavBar{
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
  }

  
  

  #searchBar{
    margin-left: 25px;
    flex-grow: 2;
  }

  .ant-layout{
   
    background-color: black !important;
  }

  .cards{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .background{
    background-color: black;
  }

  .navBarButtons{
    display: flex;
    flex-direction: row;
    gap: 50px;
   
  }