
.game-names{
    
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    text-overflow: ellipsis;
    padding-left: 15px;
  
}

.game-image{
    width: 167px;
    height: 222px;
    
}