
$secondaryColour: rgb(226, 51, 153);

.ant-layout-sider{
    background-color: rgb(26, 23, 25) !important;
  }

  .ant-menu{
    background-color: rgb(0, 0, 0) !important;
    margin-top: 40px;
  }

.ant-menu-item-active{
    background-color: $secondaryColour !important;
}

.ant-menu-item-selected{
    background-color: $secondaryColour !important;
}

.ant-menu-submenu-active{
    background-color: $secondaryColour !important;
}

.sideMenu{
  display: flex;
  flex-direction: column ;
  justify-content:left;
  margin-top: 60px;
  margin-left: 20px;
  
}

.home{
  margin-bottom: 15px;
}